body{
    color: lightgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    line-height: inherit;
    font-size: 30px;
    background-color:darkcyan;
    background-image: url('7WCkbTEpxX-12.png');
    background-blend-mode: lighten;
}

myHero {
    display: block;
    background-color: aqua;
    padding: 50px;
    font-size: 30px;
}

h1{
    font-size: 40px;
    color: black;
}

button{
    color:black;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border:none;
}