body{
    color: lightgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    line-height: inherit;
    font-size: 25px;
    background-color:darkcyan;
}

myHero {
    display: block;
    background-color: aqua;
    padding: 50px;
    font-size: 30px;
}